.inputArea {
    position: relative;
}

.textarea {
    width: 100%;
    min-height: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 4px #d7d8db, 2px 2px 4px 3px #e3e4e8;
    outline: none;
}
.textareaFocus {
    background: #1c9deb;
}

.warningMessage {
    position: absolute;
    bottom: 0;
    left: 150px;
    margin: -20px;
    padding: 8px;
    color: red;
    border-radius: 10px;
    opacity: 0;
}

.sendButton {
    padding: 10px 25px;
    background-color: palegreen;
    border: 1px solid #3bf73b;
    border-radius: 10px;
}